/* Infor Top Banner - For Standalone Applications
----------------------------------*/
.inforTopBanner{
	background-color: #ebebeb;
	color: #B3B3B3;
	height: 62px;
	background-image: none;
	border-bottom: 1px solid #cccccc;
}

.inforTopBannerRight {
	height: 62px;
	margin-left: 50%;
	text-align: right;
	vertical-align: middle;
	width: 50%;
	background-image: none;
}

.inforTopBannerLeft {
	float: left;
	height: 62px;
	text-align: left;
	vertical-align: middle;
	width: 55%;
}

.inforLogo {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAABvklEQVR42mO4wsBHU8QwasGoBaMWoFpwS1EXj9LHkUnvZs5/O2nGdQFZ0i1gEnheWPn7xUtc6p4kZv2HgRviKiRbcMfAGqjzz4ePuNS9X7gMqODD0lVAlVdZhEi24BqnOFDnHV1LXOo+bdgCtOB5QQWZcXBb3fj7hctfDx+7xisFZHw7eebTpm1/P33+/fwFMOjgFvx++gyoBsh94B4IZPz9+g2o4N3cRddFFIGCH1auA+r9sGz1rwePfly/iT2IgBEICeh/f/78ef8BzPp3U0YDYsGfd++/X7rywC3g/9+/IO7bd/9+/QIyvl+8cpVNBGg6RO/3cxeB7iNgwT0b92tc4r9fvgKy77v4IQfRlz0HgOy3k2deYeS/Ian2+9lzIPdhQBTEAmBKwxfJcAuusgoDxb+dOA3RjGzBr/sPQbY6eEH0fly1HiIFseBRcAxRFkDEvxw4jGnB5137QD6YMgvog5vSGsDEjewDIINSC+47+0Li4O/HT8CoAgX6hctAH+OzAC0VARFE/N2chUD2fUfvN/1TgYzH0SkQcaAdXw8eAaYCYLp6O23OdSF5eCoCKh4tTUctGLVg1ILBZgEAcDeURogYV6cAAAAASUVORK5CYII=") no-repeat scroll center center transparent;
  color: transparent;
  display: inline-block;
  height: 32px;
  left: 20px;
  position: relative;
  top: 13px;
  width: 32px;
}

.inforApplicationName {
	color: #666666;
	font-size: 1.6em;
	left: 36px;
	position: relative;
	top: 17px;
}

.inforTopBannerRight .inforIconButton.signOut {
    left: -20px;
    position: relative;
    top: 7px;
}

.inforBannerText {
	color: #666666;
	line-height: 62px;
	padding-right: 16px;
	font-size: 1.2em;
}

.inforBottomFooter {
	border-radius: 0 0 0 0;
	border-top: 1px solid #B3B3B3;
	border-bottom: medium none !important;
	bottom: 0;
	height:30px;
	margin-left: 1.5%;
	position: absolute;
	width: 97.25%;
	padding-bottom: 0  !important;
	margin-bottom: 0 !important;
}

.inforBottomFooter .inforBannerText {
	font-size: 1.2em;
	line-height: 25px;
}

html[dir="rtl"] .inforBannerText {
    float: left;
    left: 36px;
    position: absolute;
    top: 4px;
}

html[dir="rtl"] .inforTopBannerRight .inforIconButton {
    float: left;
    left: 0;
    position: absolute;
    right: 0;
    top: 22px;
}

html[dir="rtl"] .inforTopBannerLeft {
	float: right;
	text-align: right;
}

html[dir="rtl"] .inforLogo {
  background-position: center center;
  right: 20px;
  top: 15px;
}

html[dir="rtl"] .inforApplicationName {
	left: 0;
    line-height: 22px;
    right: 36px;
}

html[dir="rtl"] .inforBottomFooter .inforBannerText {
	left: 0;
	right: 0;
}

html[dir="rtl"] .inforBottomFooter {
	margin-left: 0;
	margin-right: 1.5%;
}
