/* Infor Text Area
----------------------------------*/
.inforTextArea:focus, .inforTextArea[readonly]:focus {
	outline: none;
	border: 1px solid #13A3F7;
	background-color: #EAF7FF;
}

.inforTextArea {
	border: 1px solid #b3b3b3;
	margin: 0px;
	padding: 10px;
	line-height: 17px;
	resize: none;
	width: 224px;
	height: 100px;
	border-radius: 3px;
	color: #1a1a1a;
	overflow:auto;
	background-color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.inforTextArea[readonly] {
	border: 1px solid transparent;
}

.inforTextArea[disabled], .inforTextArea[disabled]:focus {
   border: 1px solid transparent;
   cursor: default;
}

.inforTextArea.backgroundColor[readonly],.inforTextArea.backgroundColor[disabled] {
	 background-color: #e5e5e5;
}

.inforTextArea[disabled] {
	opacity: .5;
	filter:alpha(opacity=50);
}

.inforTextArea.error {
   border: 1px solid #d24a00 !important;
   background-color: #FDF2F3;
}

.inforTextArea[rows], .inforTextArea[cols]
{
	width: auto;
	height: auto;
}

