/* Infor Sign In Dialog
----------------------------------*/
.inforSignInDialog {
    background-color: #F3F3F3;
	overflow: auto;
}

.inforSignInDialogControls {
	margin: 0 auto;
    text-align: center;
    width: 100%;
}

.inforSignInDialogControls .inforTextbox{
    height: 26px;
	margin-bottom: 12px;
	background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
	line-height: 14px;
	width: 159px;
}

.inforSignInDialogControls  .inforTriggerButton {
	height: 29px;
	width: 24px;
}

.inforSignInDialogControls  .inforTriggerButton input {
	line-height: 25px;
}

.inforSignInDialogControls .inforSignInButton {
	height: 30px;
    margin-bottom: 18px;
    width: 206px;
}

.inforSignInDialogControls .selectedSingle {
	height: 30px !important;
}

.inforSignInDialogControls .selectedSingle > div {
    height: 29px !important;
}

.inforSignInDialogControls .selectedSingle span {
	margin-top: 6px;
    text-indent: 36px;
    text-align: left;
}

.inforSignInDialogControls .inforDropdownContainer {
	margin-bottom: 6px;
}

.inforSignInDialogControls .inforDropdownList {
	margin-left: 32px;
	text-align: left;
    text-indent: 5px;
    width: 173px !important;
}

.inforSignInDialogControls #password {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAQCAYAAAD9L+QYAAAAmElEQVQ4y+2UsQrAIAxE+//fpi4KCoKI4OAnOKVcoINDW7UWOnQI4e7CczBkI6LtjRJCtEbOmbTWpJTiDr0Ebq0lGMYYCiFwh4b/CF5KYVCMsQFBw0c+DffeM6TW2kCg4SOfhjvnGHI2hPx7cGwEtgPirJCPbg7DpZSX4KMwNwzvAR/1w9fAez90Cp5SorsHkGPu0VVcfXJ3c5iH3sYEe3kAAAAASUVORK5CYII=");
}

.inforSignInDialogControls #userId {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAs0lEQVR42rWU3QqCQBCFhRKKyKAy6qZAK/Mif/L932DfSc/ACDIs1NZJ+Bg84n6sM2sU/fFyzvW+fAPuoAY3kDAFC1CCbkKpOUWwAy8jaMGWJTiYxUdSliD17EDu9yyBNLgygkpziiAGhREUmtPG9DT5TFKP7HOwAk8VSF0yBHOw1jG9gEYFUs+ay/PZNwI5qbmnuRbZTaaiIMHjzcKdp+lBgiZQUIcKrvrSp+S/ThH1dz0A84RJNIB6vb0AAAAASUVORK5CYII=");
}

.inforSignInDialogControls #serverNameContainer a {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQAQMAAAA26i3WAAAABlBMVEUAAADMzMzIT8AyAAAAAXRSTlMAQObYZgAAAB5JREFUeNpjYGBgZKj/wcjw/w8Cg8SQ+djEQHqAYgDkwhbNYhkFGQAAAABJRU5ErkJggg==");
    background-position: 8px 7px;
    background-repeat: no-repeat;
}

.inforSignInDialogControls #languageContainer a {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAiElEQVR42mNgoAE4c+bMfwa6GQwULAfi3VBcTk2D34EkoPgdVQwGCqQhGQrDadQweDfUsJlQDGLvpshgIEcJyZWhUAzjK1FicAd6uCKFdwclBmMYgs0ykgxGi7QzSMntDDmRiGzwbiypAR3vJslgtEgDpQQXNNxBaiTCDMarEc3ijsFXVgx6gwF9jTDvV7djFgAAAABJRU5ErkJggg==");
	background-position: 8px 7px;
    background-repeat: no-repeat;
}

.inforSignInDialogControls #company, .inforSignInDialogControls #companyContainer a {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAQAQMAAADH4XZbAAAABlBMVEUAAADMzMzIT8AyAAAAAXRSTlMAQObYZgAAACBJREFUeNpjYGBgYqj/AcEpMyAYF7vmBwL//8PEANQLADYXEjzaZMydAAAAAElFTkSuQmCC");
	background-position: 8px 7px;
    background-repeat: no-repeat;
}

.inforSignInDialogControls .inforCheckboxLabel {
	padding-left: 8px;
}

html[dir="rtl"] .inforSignInDialogControls .inforCheckboxLabel {
	line-height: 17px;
	padding-right: 8px;
}

.inforSignInDialogControls #environmentContainer a {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAiElEQVR42mNgoAE4c+bMfwa6GQwULAfi3VBcTk2D34EkoPgdVQwGCqQhGQrDadQweDfUsJlQDGLvpshgIEcJyZWhUAzjK1FicAd6uCKFdwclBmMYgs0ykgxGi7QzSMntDDmRiGzwbiypAR3vJslgtEgDpQQXNNxBaiTCDMarEc3ijsFXVgx6gwF9jTDvV7djFgAAAABJRU5ErkJggg==");
	background-position: 8px 7px;
    background-repeat: no-repeat;
}

.inforSignInDialogControls #resetPassword {
    display: block;
    margin-top: 10px;
}

.inforSignInDialog .inforLogo {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAA+VBMVEXUAA7////++/v99fbbKTXaIi7ncnr99PXtkpj87u/bJzP409X++fn86+zXER7++vr41tjWDRr2x8rbKDTpf4b//f3WDhvxrrL98fLVAxHWCxjsjJL88PHpfYT1wsX53d/2zM/jWmP++Pjnb3fWChf41Nb41dfskZfYGSb75+jsjpTvn6T419n0wMP1xMfpeoH+9/ffQkzlYmv76uv63+HkYGnumJ72y87fRE7ncHjncXn98/TXEh/cMDvaIS352tzod37ZICzri5HWDBnsjZPlZG3VCBbUAQ/30tTcLzrVBhT1xcjum6DaIy/xrbLxq7D30dTodHzoeH/i491VAAABNklEQVR4Xu2T5W7EMBCEvQ7nmKHMzMzM3Pd/mK6da5xrNzor/Vd5NYp3VqNPySZhpoyMjP6fppfIcafY1QPYOfg93Bz3AEALsGMRwQkA0AWQwepfAYGY5o9Y5ioh4Dg9oH9b+llxOV0sW9byZfEHILzOed7snK3S8/52iQBMTYKsmWYf4IBHYz7ynXYW0BKAWGuxxYCr5ue99AoMAKwmAE4ej6DVCtDxUOXWKYDlbtTF+rcSgCH0VdxKcxTtbg+wt3/FKMAhujq6RmIH7+hPRGNjMxblziroKcAFOkdaBRgGaEe5Qky+YSmAW3R3jcEAJw0gLe+392gfRBOqR3hMAxBWLvEJl1gRS3xWOW3Ai3yNr28FPHgtA4B9QFyfLAuAuepTzgZgNR//sbJvqzRVRkZGRkamvgBaQxF8NowOUgAAAABJRU5ErkJggg==");
	background-position: center center;
    height: 64px;
    left: 0;
    margin: 64px auto 24px;
    position: relative;
    width: 64px;
}

.inforSignInDialog .inforApplicationName {
	color: #1A1A1A;
    font-size: 3.2em;
    position: inherit;
    margin-bottom: 28px;
}

.inforSignInDialog .errorText {
	color: #D5000E;
    display: inline-block;
    font-size: 12px;
    left: 9px;
    line-height: 16px;
    max-width: 300px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    top: -3px;
}

html[dir="rtl"] .inforSignInDialogControls .inforLogo {
	margin: 70px auto 40px;
	background-position: center center;
}

