/* Infor Pallette Colors */
.inforColor.lightAzure {
    background-color: #61c5ff !important;
}

.inforColor.azure {
    background-color: #13a3f7 !important;
}

.inforColor.deepAzure {
    background-color: #005ce6 !important;
}

.inforColor.lightEmerald {
    background-color: #9ed927 !important;
}

.inforColor.emerald {
    background-color: #2db329 !important;
}

.inforColor.deepEmerald {
    background-color: #00733a !important;
}

.inforColor.lightAmber{
    background-color: #ffd500 !important;
}

.inforColor.amber {
    background-color: #ffaa00 !important;
}

.inforColor.deepAmber {
    background-color: #ff6400 !important;
}

.inforColor.lightRuby{
    background-color: #ff574d !important;
}

.inforColor.ruby {
    background-color: #d5000e !important;
}

.inforColor.deepRuby {
    background-color: #b3000c !important;
}

.inforColor.lightTourmaline{
    background-color: #ff80a2 !important;
}

.inforColor.tourmaline {
    background-color: #e63262 !important;
}

.inforColor.deepTourmaline {
    background-color: #bf2951 !important;
}

.inforColor.lightAmethyst{
    background-color: #c680ff !important;
}

.inforColor.amethyst {
    background-color: #a352cc !important;
}

.inforColor.deepAmethyst {
    background-color: #7533a6 !important;
}

.inforColor.lightGraphite{
    background-color: #b3b3b3 !important;
}

.inforColor.graphite {
    background-color: #737373 !important;
}

.inforColor.deepGraphite {
    background-color: #595959 !important;
}

.inforColor.lightTurquoise{
    background-color: #6dd9d1 !important;
}

.inforColor.turquoise {
    background-color: #00c2b4 !important;
}

.inforColor.deepTurquoise {
    background-color: #00898c !important;
}