/* Infor Time Field
----------------------------------*/
.inforTimePopup .inforDropdownContainer  {
	width: 55px !important;
}

.inforTimePopup .inforDropdownContainer {
	margin-right: 5px;
}

.inforTimePopup > span {
	font-size: 1.9em;
    left: -3px;
    position: relative;
    top: 0;
}

.inforSingleColumnLayout .inforTriggerField input.inforTimeField, .infor2ColumnLayout .inforTriggerField input.inforTimeField, .infor3ColumnLayout .inforTriggerField input.inforTimeField, .inforTimeField {
    width: 65px !important;
}
