/* Infor Hyperlink
----------------------------------*/
.inforHyperlink {
	color: #13A3F7;
	line-height: 20px;
	white-space: nowrap;
	text-decoration: none;
	font-size: 1.2em;
	cursor: pointer;
	padding: 1px;
}

.inforHyperlink.heading{
	font-size: 1.3em;
	line-height: 14px;
}
		
.inforHyperlink:visited {
	color: #13A3F7;
}

/* Mouse Over States is Same as the focus */
.inforHyperlink:hover, .inforHyperlink:focus  {
	color: #1293DE;
	text-decoration: underline;
}

.inforHyperlink[disabled]:hover  {
	color:  #666666;
	cursor: default;
	text-decoration: none;
}

.inforHyperlink:active {
	color: #118BD1;
}

.inforHyperlink[disabled] {
  color:  #666666;
  opacity: .5;
  filter: alpha(opacity = 50);
}

.inforHyperlink .inforLabel {
	font-size: 1em;
}