/* Infor Text Button
----------------------------------*/

.inforTextButton ,.inforTextButton[disabled], .inforSplitButton{
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #444;
	cursor: default;
	height: 24px;
	margin: 0 0px 0 5px;
	outline: medium none;
	overflow: hidden;
	padding: 0 8px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.inforTextButton {
	padding: 3px 10px;
}

.inforTextButton[disabled], .inforTextButton.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60) !important;
	cursor: default;
}

.inforTextButton[disabled]:active, .inforTextButton.disabled:active {
  background-color: #f2f2f2;
  border: 1px solid #ccc !important;
  box-shadow: none;
}

.inforTextButton:hover {
	background-color: #d8d8d8;
	box-shadow: 0 1px #a2a2a2;
	color: #1a1a1a;
}

.inforTextButton:hover[disabled], .inforTextButton.disabled:hover {
	cursor: default;
	background-color: #f2f2f2;
  color: #444;
	box-shadow: none;
}

.inforTextButton:active {
  background-color: #bebebe;
  box-shadow: 0 1px #7a7a7a inset;
  color: #1a1a1a;
  border: 1px solid transparent !important;
}

.inforTextButton:focus {
	border: 1px solid #13A3F7;
}

