/* AutoComplete Control
----------------------------------*/

#autocomplete-list.is-open.popupmenu{
  border-radius: 0 0 4px 4px;
  display: table;
}

#autocomplete-list li{
  display: table-row-group;
}

#autocomplete-list li a{
  display: table-row;
}

#autocomplete-list li a:focus {
    background-color: #e0e0e0;
}

#autocomplete-list li a span{
  display: table-cell;
  padding: 1px 15px;
}

.autocomplete.is-open {
  border-radius: 3px 3px 0 0;
}

#autocomplete-list i {
  color: #0896e9;
  font-family: opensans-semibold,Helvetica,Arial;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: underline;
}
