/* Infor Split Button
----------------------------------*/
.inforSplitButton{
	border: 1px solid transparent;
	margin: 0 4px 0 -1px;
	padding: 0 6px 0 3px;
	color: #666666;
	line-height: 22px;
	border-radius: 2px 0 0 2px;
	padding: 0 4px;
	margin: 0;
}

.inforSplitButton[disabled] ,.inforSplitButton.disabled{
	color: #999999;
	cursor: default;
}

.inforSplitButton.disabled:hover , .inforSplitButton[disabled]:hover {
	background-color: transparent;
	box-shadow: none;
	color: #999999;
}

.inforSplitButton:hover {
	background-color: #d8d8d8;
	box-shadow: none;
	color: #1a1a1a;
}

.inforSplitButtonContainer {
    border-radius: 2px;
}

.inforSplitButtonContainer .inforSplitButton {
	margin-left: 0;
	margin-top: 1px;
}
	
.inforSplitButtonContainer:hover .inforSplitButton {
    border-right: 1px solid #A2A2A2;
	border-radius: 0 0 0 0;
}

.inforSplitButtonContainer:hover {
	background-color: #d8d8d8;
	box-shadow: 0 1px #a2a2a2;
}

.inforSplitButtonContainer.disabled:hover , .inforSplitButtonContainer[disabled]:hover {
	background-color: transparent;
	box-shadow: none;
}

.inforSplitButtonContainer.disabled:hover .inforSplitButton , .inforSplitButtonContainer[disabled]:hover .inforSplitButton {
    border-right: 1px solid transparent;
}

.inforSplitButton:active {
	background-color: #bebebe;
    box-shadow: 0 1px #7a7a7a inset;
	color: #1a1a1a;
}

.inforSplitButton:focus {
	border: 1px solid #13A3F7
}

.inforSplitButtonContainer.icon {
	border: 1px solid transparent;
}

.inforSplitButtonContainer button{
	display: inline-block;
	float:left;
}

.inforSplitButtonArrow, .inforSplitButtonArrow[disabled]:hover {
	height: 22px;
	width: 16px;
	border-radius: 0 2px 2px 0;
	padding: 0;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: transparent;
}

.inforSplitButtonArrow span {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAHElEQVQYV2OQkpL6jwszgABOCRjAKQEDqBIMDAAbsBTRJXagaAAAAABJRU5ErkJggg==");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 7px;
    opacity: 0.4;
	filter: alpha(opacity=40);
    width: 10px;
    color: transparent;
}
	
.inforSplitButtonArrow:hover {
	background-color: #d8d8d8;
	box-shadow: none;
	color: #1a1a1a;
}

.inforSplitButtonArrow:hover  span{
	opacity: .65;
	filter: alpha(opacity=65);
}

.inforSplitButtonArrow:active {
	background-color: #c2c2c2;
    box-shadow: 0 1px #7a7a7a inset;
	color: #1a1a1a;
}

.inforSplitButtonArrow:hover  span{
	opacity: .80;
	filter: alpha(opacity=80);
}

.inforSplitButtonArrow:focus {
	border: 1px solid #13A3F7 !important;
}

.inforSplitButtonArrow.disabled:hover , .inforSplitButtonArrow[disabled]:hover {
	border: 1px solid transparent !important;
    cursor: default;
	box-shadow: none;
}

.inforSplitButtonArrow[disabled],.inforSplitButtonArrow.disabled{
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.inforSplitButton.inforIconButton {
	border: 1px solid transparent;
    height: 22px;
    width: 31px;
	margin: 0;
	padding: 0;
}

.inforSplitButton.inforIconButton:focus {
	border: 1px solid #13A3F7;
}

.inforSplitButtonContainer.icon .inforSplitButtonArrow {
	border: 1px solid transparent;
	border-radius: 0 2px 2px 0;
}

html[dir="rtl"] .inforSplitButtonArrow {
	float: right;
	margin-right: -7px;
}

html[dir="rtl"] .icon .inforSplitButtonArrow {
	margin-right: -2px;
}

html[dir="rtl"] .inforSplitButton {
	float: right;
}
